{% extends 'layouts/base.html' %}

{% block title %}  {% endblock %}

{% block content %}
    {% if jugador %}
        <h2>Actualizar datos del jugador: {{ jugador.nombre }}</h2>
    {% else %}
        <h2>Registrar nuevo jugador al equipo: {{ equipo.nombre }}</h2>
    {% endif %}

    <form method="post" enctype="multipart/form-data">

        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">Aceptar</button>

    </form>

    <a href="{% url 'equipo' jugador.equipo.id %}">Volver</a>

{% endblock %}