{% extends 'layouts/base.html' %}

{% block title %} Detalles Equipo {% endblock %}

{% block content %}
    <h1>Detalles del Equipo: {{ equipo.nombre }}</h1>
    {% if equipo.logo %}
        <img src="{{ equipo.logo.url }}" alt="{{ equipo.nombre }}">
    {% endif %}

    <h2>Jugadores:</h2>
    <ul>
        {% for jugador in equipo.jugador_set.all %}
            <a href="{% url 'jugador' jugador.id%}">{{ jugador.nombre }}</a>
        {% empty %}
            <li>Aún no hay jugadores registrados.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'registrar_jugador' id=equipo.id %}">Registrar nuevo jugador</a>
    <a href="{% url 'index' %}">Regresar al inicio</a>
{% endblock %}